
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; salamizCMS 2023</p>
        <p class="m-0 text-center ">
            <a href="https://www.linkedin.com/in/zulkifli-salami/" target="_blank">Zulkifli Salami Linkedin</a>
            <br/>
            <a href="https://github.com/salamiz?tab=repositories" target="_blank">Zulkifli Salami GitHub</a>
        </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 2000);
        });
</script>

</body>

</html>
